
.title-white{
    text-align: center;
    color: rgb(255, 255, 255);
}
.text-white{
    display: flex;
    align-items: center;
}
.main__section__form{
    width: 400px;
    height: 300px;
    border: solid #fff 1px;
    margin: 20px;
    background-image: url(../img/fondo\ form.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}
.section__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__li{
    display: flex;
    justify-content: space-between;
}
.boton__enviar{
    display: flex;
    justify-content: center;
    align-content: center;
}
.main__content__form{
    display: flex;
    align-content: center;
    justify-content: center;
}
.main__article__map{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__img__bike{
    width: 500px;
    height: 400px;
}
#main{
    section{
        span{
            h2{
                text-align: center;
                background-color: #4864b16c;
                color: #fff;
            }
        }
    }
}
.main__section__conteiner{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
}
#main{
    section{
        h2{
            text-align: center;
        }
    }
}
@media screen and (max-width: 830px) {
    .main__section__conteiner{
        flex-direction: column;
        align-content: space-around;
    }
    .main__img__bike{
        width:500px ;
        height:400px ;
    }
}
@media screen and (max-width: 550px) {
    .main__img__bike{
        width:300px ;
        height:200px ;
    }
}